### make this less messy!!!

cache/
data/
log/
logs/
metadata/
transcodes/

*.db
*.db-shm
*.db-wal
*.db-journal
*.log
*.log.*
*.dll
*.bak
*.old
*.tmp
*.swp
*~

.env
.cache
.zed/

jellyfin/cache/
jellyfin/config/root
jellyfin/config/.jellyfin-data
